@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

h1,
h2,
h3,
h4,
h5,
p {
    color: white;
}

button > h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}

.glass-button {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}

hr.solid {
    border-top: 3px solid rgb(255, 255, 255);
}

.form-input {
    @apply w-full appearance-none rounded-lg border-2 border-none border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-2 focus:bg-white focus:outline-pink-300;
}

.form-input-alt {
    @apply w-full appearance-none rounded-lg border-2 border-none border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 focus:border-2 focus:bg-white focus:outline-green-200;
}

.primary-button {
    @apply cursor-pointer rounded border-none bg-pink-300 py-2 px-4 font-bold text-white hover:bg-pink-400;
}

.secondary-button {
    @apply cursor-pointer rounded border-solid border-pink-300 bg-white py-2 px-4 font-bold text-pink-300 hover:text-pink-400;
}

.tab-focused {
    @apply flex w-24 cursor-pointer select-none justify-center rounded-t-xl bg-white ring-gray-900/5;
}

.tab-unfocused {
    @apply flex w-24 cursor-pointer select-none justify-center rounded-t-xl bg-pink-300 ring-gray-900/5;
}

.height-28-rem {
    height: 28rem;
}

.card {
    @apply rounded-b-lg rounded-tr-lg bg-white p-6 shadow-xl ring-1 ring-gray-900/5 md:w-96 xs:w-80;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
